.hero {
  max-height: 1000px;
  background-image: url("../../images/Hero/1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  position: relative;

  

  &__inner {
    height: 1000px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: start;
    padding: 70px;
    background-color: var(--color-yellow);
    color: var(--color-dark);
    clip-path: polygon(57% 0, 100% 0, 100% 43%, 100% 90%, 90% 100%, 32% 100%, 0 100%, 0 10%, 10% 0);
    

    @include mobile {
      padding: 30px 38px;
      align-items: center;
      position: absolute;
      bottom: -40px;
      right: 0;
    }
  }

  &__title {
    font-family: var(--font-family-alt);
    
    max-width: 484px;
    
    @include mobile {
      
      text-align: center;
    }
  }

  &__button {
    @include mobile {
      font-size: 20px;
      padding: 19px 50px;
    }
  }
}