.input {
  color: var(--color-light);
  font-weight: 300;
  border: 0;
  border-bottom: var(--border-bottom);
  background-color: var(--color-dark);
  padding: 13px 0 13px 0;
  width: 460px;
  outline: none;

  &::placeholder {
    color: var(--color-light);
  }

}